<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <head>
    <title>EET 420W SERVER PROJECT</title>
  </head>
  <body>
    <center><h1>EET 420W Server Project</h1></center>
	<center><p>Sean-Paul Williamson, Charlie Li, Jackson Shaver, James Farrell</p></center>
	<center><p>Hello! Welcome to our webpage!</p></center>
	<center><p>The purpose of this webpage is to use the buttons below to turn an led on and off.</p></center>
	<center><p>Click the LED on button to get started!</p></center>
	<br></br>
	<center><a href="on"><button type="button">LED on</button></a></center>
	<br></br>
	<center><a href="off"><button type="button">LED off</button></a></center>
	<center><p>LED is currently <strong>{{ status }}</strong>
  </body>
</html>
